In [14]:
a = 0
b = 1
c , d = 2 , 3 #Multiple variable assignment

print("Variable values",a,b,c,d)

Variable values 0 1 2 3

In [15]:
while a < 10:
  print(a)
  a , b = b , a+b

0
1
1
2
3
5
8

In [16]:
#simple grade system application
# 91-100 = A ,81-90 = B,71-80 = C, Below or equal 70 = Fail

#Take input from the user
marks = int(input("Enter your marks : "))

#Conditional Flow Implementation using IF
if marks >=91:
  print("Grade A")
elif marks >=81:
  print("Grade B")
elif marks >= 71:
  print("Grade C")
else:
   print("Failed Score")

Enter your marks : 93
Grade A

In [17]:
#switch Implementation of If
#ATM MACHINE APPLICATION
cardno = input("Enter card: ")
print("""

select you option no

1.Banking
2.Banking Statement
3.Pin Change
4.Fast withdrawl

""")
option = int(input("Enter option no: "))

#Switch Implementation
if option ==1:
  print("Welcome to Banking Mode")
elif option ==2:
  print("Print Bank Statement")
elif option==3:
  print("PIN change Menu")
elif option == 4:
  print("Fast Withdrawl")
else:
  print("Please check the correct option")

Enter card: 12345678990


select you option no

1.Banking
2.Banking Statement
3.Pin Change
4.Fast withdrawl


Enter option no: 1
Welcome to Banking Mode

In [18]:
#for statements in Python
#Railway Reservation Application

queue = ["Palak","jaideep","Revanth","Devanshu"]

#start making tickets for this queue using FOR statement
for traveller_name in queue:
  print("Make ticket for",traveller_name)
  print("Ticket issued for",traveller_name)
print("All travellers ticket made")

Make ticket for Palak
Ticket issued for Palak
Make ticket for jaideep
Ticket issued for jaideep
Make ticket for Revanth
Ticket issued for Revanth
Make ticket for Devanshu
Ticket issued for Devanshu
All travellers ticket made

In [19]:
#ADD ALL THE items in a basket starting from character B
items = ["Banana","Apple","Bhindi","Juice","Brinjal","Burger","Coffee","Milk","Butter"]

basket = []
for i in items:
  if i[0] == 'B':
    basket.append(i)
basket

['Banana', 'Bhindi', 'Brinjal', 'Burger', 'Butter']

In [22]:
#Range Functions
#for(int i =0; i<20;i++) {}
for i  in range(0,50):
  print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [23]:
sum(range(10,20,2))

70

In [25]:
#Make list of items between 10,50 step by 7
list(range(10,51,7))

[10, 17, 24, 31, 38, 45]

In [28]:
for i in range(5):
  print(i)
  if i ==3:
    break

0
1
2
3

In [31]:
for num in range(2,10):
  if num%2 ==0:
    print("Even Number",num)
    continue
  print("Found and odd number",num)

Even Number 2
Found and odd number 3
Even Number 4
Found and odd number 5
Even Number 6
Found and odd number 7
Even Number 8
Found and odd number 9

In [32]:
items = ["abcd","defg","ab","ijkl","hem"]
for item in items:
  if len(item) ==4:
    print(item)
  else:
    pass

abcd
defg
ijkl