In [4]:
#Defining the function
def functionName(parameters):
  "Document string for the function"

#call the function
param = 1 #sample parameter tfor example
functionName(param)

In [5]:
#Method 1 :Define a function to add two values
def add(a,b):
  """Add two numbers and returns added value
  for Example:
    add(2,5)=>7 
  """
  return a+b

In [6]:
add(2,5)

7

In [7]:
print("Addition of 10 and 2567 is",add(10,2567))

Addition of 10 and 2567 is 2577

In [8]:
#Method 1: Execute the function but doesnot return a value
def add1(a,b):
  "Add two values and print, but no return values"
  print(a+b)

In [9]:
add1(30,45)

75

In [10]:
ans1 = add(10,20)#Returns Integer value
ans2 = add1(10,20)#Returns None

30

In [11]:
print(ans1)

30

In [12]:
print(ans2)

None

In [14]:
add(1,2,3)

TypeError: ignored

In [15]:
#when you have arguments without a defined count
#make a simple application to add a new admission

def newAdmission(studentName,studentClass=10,studentGroup="Red"):
  print("Student added",studentName,studentClass,studentGroup)

In [16]:
#call the function in the first way - No parameter
newAdmission()

TypeError: ignored

In [18]:
#Give the positional argument
newAdmission("Revanth Janjanam")

Student added Revanth Janjanam 10 Red

In [21]:
newAdmission("Jaideep",studentGroup="Blue")

Student added Jaideep 10 Blue

In [22]:
newAdmission(studentClass=11,studentName="Revanth")

Student added Revanth 11 Red

In [28]:
#Defining the arguments list

#create an application to make a team and add players
player_list = []
def ipl_team(teamName,*players):
  for player in players:
    player_list.append(player)
  print("IPL team:",teamName,"Playerlist:",player_list)

In [29]:
ipl_team("RCB","Navadeep Saini","AB de villiers","Finn Allen","Virat Kohli")

IPL team: RCB Playerlist: ['Navadeep Saini', 'AB de villiers', 'Finn Allen', 'Virat Kohli']

In [33]:
#"Navdeep Saini"="Bowler"
def ipl_players(**players):
  for player in players:
    print("Player Name: ",player,"Role:",players[player])

In [36]:
ipl_players(Navdeep_saini="Bowler",
            Virat_Kohli="Batsman",
            Glenn_Maxwell="All-rounder")

Player Name:  Navdeep_saini Role: Bowler
Player Name:  Virat_Kohli Role: Batsman
Player Name:  Glenn_Maxwell Role: All-rounder