In [5]:
name = 'Revanth'
surname = "Janjanam"
print(name, type(name))
print(surname, type(surname))

Revanth <class 'str'>
Janjanam <class 'str'>

In [6]:
#he doesn't understand
statement = "He doesn't understand"
statement1 = 'He doesn\'t understand'
print(statement)
print(statement1)

He doesn't understand
He doesn't understand

In [7]:
statement2 = "His name is \"Revanth\". intern at Hackveda"
print(statement2)

His name is "Revanth". intern at Hackveda

In [8]:
#we can use r raw strings  to avoid backslash escaping
print(r'c:\\users\neha')

c:\\users\neha

In [9]:
#print multiple lines in python using triple double or single quotes
print("""
Hi this is a 
Multiple line print
statement
""")

Hi this is a
Multiple line print
statement

In [10]:
print('''
This is an example
for multiple lines
with single quotes
''')

This is an example
for multiple lines
with single quotes

In [11]:
#string concatenation
string1 = "Hi my name is Revanth "
string2 = "My surname is Janjanam"
string3 = string1 + string2 #Concatenation
print(string3)

#string Repetation
alphabet = 'a'
word = 'Programming'
statement = 'This is a Programming class'

print(alphabet*10)
print(word*5)
print(statement * 3)

Hi my name is Revanth My surname is Janjanam
aaaaaaaaaa
ProgrammingProgrammingProgrammingProgrammingProgramming
This is a Programming classThis is a Programming classThis is a Programming class

In [12]:
name = 'Revanth' 'Janjanam'
print(name)

RevanthJanjanam

In [13]:
name = 'Revanth'
fullname = name + 'Janjanam'
print(fullname)

RevanthJanjanam

In [15]:
#string indexing
name = "Revanth Janjanam"
len(name)

print(name[0])

R

In [16]:
#testing with negative indexs
print(name[-1])

m

In [24]:
#extract character using string indexing +ve or -ve
name = "Revanth"
print(name[4])
print(name[-3])
slice1 = name[0:3]
print(slice1)
print(name[-7:-4])
print(name[0:-4])

n
n
Rev
Rev
Rev

In [33]:
print(name[2:6])
print(name[-5:-1])
print(name[2:-1])
print(name[-5:6])

vant
vant
vant
vant

In [35]:
print(name[2:])
print(name[:5])

vanth
Revan

In [38]:
#Immutable = cannot change the value of item at index
name[1]
name[1] = 'i'

TypeError: ignored

In [39]:
#make a nam REVANA
newname = name[:5]+ 'a'
print(newname)

Revana

In [40]:
#Get the size of the string
len(name)

7

In [42]:
# Values w.r.t person
name = 'Revanth'
age = 19
height = 5.9
position = 'intern'

#Group these values together in a compound data type
mylist = [name,age,height,position]
mylist

['Revanth', 19, 5.9, 'intern']

In [43]:
for item in mylist:
  print(item,type(item))

Revanth <class 'str'>
19 <class 'int'>
5.9 <class 'float'>
intern <class 'str'>

In [44]:
mylist = [0,1,2,3,4,5,6]
mylist

[0, 1, 2, 3, 4, 5, 6]

In [45]:
mylist[4]

4

In [46]:
#slice out the numbers from the list 
mylist[:4]

[0, 1, 2, 3]

In [47]:
oddlist = [1,3,5,7,9,11]
newlist = mylist + oddlist
newlist

[0, 1, 2, 3, 4, 5, 6, 1, 3, 5, 7, 9, 11]

In [48]:
newlist[4]

4

In [49]:
#lists are mutable in nature
newlist[4] = 100
newlist

[0, 1, 2, 3, 100, 5, 6, 1, 3, 5, 7, 9, 11]