In [15]:
#syntax of creating lists []
empty_list = []
print(type(empty_list))

<class 'list'>

In [16]:
#why do we use lists - when we need to group values together
#we can group homogeneous or heterogenous both in lists
#Lists are considered as compound data types

roll_no = [1,2,3,4,5]#Homogeneous List
roll_no
print(type(roll_no))

<class 'list'>

In [17]:
#Multiple information about a person
name = 'Revanth'
age = 19
height = 5.9
print(name,type(name),age,type(age),height,type(height))
#Group the above information together in a list
person_info = [name,age,height]
person_info

Revanth <class 'str'> 19 <class 'int'> 5.9 <class 'float'>

['Revanth', 19, 5.9]

In [18]:
#print values at each index of the list
index = 0
for item in roll_no:
  print(index,item)
  index = index+1

0 1
1 2
2 3
3 4
4 5

In [19]:
index_no = int(input("Enter index number : "))
print("The value at index",index_no,"is",roll_no[index_no])

Enter index number : 2
The value at index 2 is 3

In [20]:
#simple program for slicing
inclusive = int(input("Enter inclusive index: "))
exclusive = int(input("Enter exclusive index: "))
roll_no[inclusive:exclusive]

Enter inclusive index: 2
Enter exclusive index: -1

[3, 4]

In [21]:
#Concatenation in Lists
list1 = ["Revanth",19,5.9]
list2 = ["Sreenivas",21,6]
conc_result = list1+list2
conc_result

['Revanth', 19, 5.9, 'Sreenivas', 21, 6]

In [22]:
#Lists are mutable.Their content can be changed
index = 0
for item in conc_result:
  print(index,item)
  index = index+1

0 Revanth
1 19
2 5.9
3 Sreenivas
4 21
5 6

In [23]:
conc_result[4] = 22 #Mutating the value at index 4

In [24]:
conc_result[4]

22

In [25]:
conc_result

['Revanth', 19, 5.9, 'Sreenivas', 22, 6]

In [26]:
 #Add new items into the list
 conc_result.append('9654825370')
 conc_result

['Revanth', 19, 5.9, 'Sreenivas', 22, 6, '9654825370']

In [27]:
#update slice in the lists
list2 = [31,5.10,'bala']
conc_result[1:4] = list2
conc_result

['Revanth', 31, 5.1, 'bala', 22, 6, '9654825370']

In [28]:
#remove a slice from the list
conc_result[2:4] = []
conc_result

['Revanth', 31, 22, 6, '9654825370']

In [29]:
#calculate the size of the list
print("Size of the list is",len(conc_result))

Size of the list is 5

In [30]:
#nesting feature is available in lists
#Nesting = list within a list
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,10]
nested_list = [list1,list2]
nested_list

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

In [31]:
#Access information from a nested list
nested_list[0][2]
nested_list[1][2]

8

In [39]:
list = [1,2,3,4,5]
list

[1, 2, 3, 4, 5]

In [40]:
#insert at top of tlist =O(1)
list.insert(0,10)
list

[10, 1, 2, 3, 4, 5]

In [42]:
#insert at the tail of the list = O(1)
list.append(20)
list #O(1)

[10, 1, 2, 3, 4, 5, 20]

In [43]:
#Insert at specific index on the list. O(N)
list.insert(4,30)
list #O(1)

[10, 1, 2, 3, 30, 4, 5, 20]