<a href="https://colab.research.google.com/github/Hackveda/PythonInternsCodeSubmission/blob/main/Shivam%20Sharma/Fundamentals/Control_Flow_Statements_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Fibonacci Series using while loop
a,b=0,1
while(a<10):
  print(a)
  a,b=b,a+b

0
1
1
2
3
5
8

In [ ]:
#Grading System
a=int(input("Enter a number: "))
if (a>=91):
  print("A Grade")
elif (a>=81):
  print("B Grade")
elif (a>=71):
  print("C Grade")
else:
  print("Fail!")

Enter a number: 70
Fail!

In [ ]:
#Switch Case
#Atm Machine
card=int(input("Enter Card Number: "))
print("""
Select a Service:
1. Banking
2. Bank Statement
3. PIN Change
4. Withdrawal""")
option=int(input("Enter your Option: "))
if option==1:
  print("Welcome to Banking Mode")
elif option==2:
  print("Print Bank Statement")
elif option==3:
  print("PIN change Menu")
elif option==4:
  print("Enter Withdrawing Amount: ")
else:
  print("Enter a valid option")

Enter Card Number: 55

Select a Service:
1. Banking
2. Bank Statement
3. PIN Change
4. Withdrawal
Enter your Option: 7
Enter a valid option

In [ ]:
#for Statement
queue=["Palak","Devanshu","Shivam"]
for traveller in queue:
  print("Ticket issued for %s."%traveller)
print("Queue over")

Ticket issued for Palak.
Ticket issued for Devanshu.
Ticket issued for Shivam.
Queue over

In [ ]:
#Add items in a basket starting with alphabet 'B'
items=["Banana","Juice","Milk","Butter","Brinjal","Burger","Pizza"]
basket=[]
print("Total items:",items)
for i in items:
  if(i[0]=='B'):
    basket.append(i)
print("Items in the Basket:",basket)

Total items: ['Banana', 'Juice', 'Milk', 'Butter', 'Brinjal', 'Burger', 'Pizza']
Items in the Basket: ['Banana', 'Butter', 'Brinjal', 'Burger']

In [ ]:
#Range functio n
for i in range(0,5,2):
  print(i)

0
2
4

In [ ]:
#Break and Continue Statement Implementation
for i in range(1,10):
  if i%2==0:
    print("Even number: %d"%i)
    continue
  print("Odd number: %d"%i)

Odd number: 1
Even number: 2
Odd number: 3
Even number: 4
Odd number: 5
Even number: 6
Odd number: 7
Even number: 8
Odd number: 9

In [ ]:
#Pass Statement Implementation
for i in range(5):
  if i==3:
    pass
  else:
    print(i)

0
1
2
4

In [ ]:
while True:
  pass