<a href="https://colab.research.google.com/github/Hackveda/PythonInternsCodeSubmission/blob/main/Shivam%20Sharma/Fundamentals/Introduction_to_Lists_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
 #Syntax of List
 list=[]
 print(type(list))
 roll_no=[2,4,5,6,7,8] #Homogenous List
 list=['shivam',19,'intern'] #Hetrogenous List
 print(type(list[0]))
 print(type(list[1]))
 print(type(list[2]))

<class 'list'>
<class 'str'>
<class 'int'>
<class 'str'>

In [7]:
roll_no=[4,9,66,25]
index=0
for i in roll_no:
  print(index,i);
  index+=1

0 4
1 9
2 66
3 25

In [2]:
data=str(input('Enter here: '))
print("Type of input is: ",type(data))
data=int(input("Enter a Number: "))
print("Type of input is: ",type(data))

Enter here: 2
Type of input is:  <class 'str'>
Enter a Number: 2
Type of input is:  <class 'int'>

In [12]:
#Indexing and Slicing on Lists
roll_no=[4,9,66,25,55,27]
index=int(input('Enter index: '))                             #Indexing
print("The Roll No. at index",index,"is",roll_no[index])
inclusive=int(input('Enter inclusive: '))                     #Slicing
exclusive=int(input('Enter exclusive: '))
roll_no[inclusive:exclusive]

Enter index: 5
The Roll No. at index 5 is 27
Enter inclusive: 2
Enter exclusive: -2

[66, 25]

In [15]:
#Concatenation of Lists
list=[2,5,6,7,8]
list2=[9,8,5,6]
list4=list+list2
print(list4)
for i in list4:
  print(i)

[2, 5, 6, 7, 8, 9, 8, 5, 6]
2
5
6
7
8
9
8
5
6

In [35]:
#Adding, Inserting, Updating and Removing Iteams in List
A=[99,88,77,66,55,44]
B=[2,6,8]
print(A)
A.append(22)      #Adding
print(A)
A.insert(2,200)   #Inserting at a Specific Location
print(A)
A[4:7]=B          #Updating
print(A)
A[4:7]=[]         #Removing
print(A)

[99, 88, 77, 66, 55, 44]
[99, 88, 77, 66, 55, 44, 22]
[99, 88, 200, 77, 66, 55, 44, 22]
[99, 88, 200, 77, 2, 6, 8, 22]
[99, 88, 200, 77, 22]

In [23]:
#Calculating the length of a list
A=[99, 88, 77, 66]
print(len(A))

4

In [28]:
#Nesting of Lists
A=[99, 88, 77, 66]
B=[2,6,8]
C=[A,B]
print(C)
print(C[0][2])   #Accessing Particular Element of a 2-D List

[[99, 88, 77, 66], [2, 6, 8]]
77