<a href="https://colab.research.google.com/github/Hackveda/PythonInternsCodeSubmission/blob/main/Shivam%20Sharma/Fundamentals/Introduction_to_Strings_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name='Shivam'
surname="Sharma"
print(name,type(name))
print(surname,type(surname))

Shivam <class 'str'>
Sharma <class 'str'>

In [6]:
#Using Escape Character
statement="He doesn't understand"
print(statement)
statement1='He doesn\'t understand'
print(statement1)
statement2="My name is \"Shivam\". I am an Intern."
print(statement2)

He doesn't understand
He doesn't understand
My name is "Shivam". I am an Intern.

In [8]:
#Using Raw Srings
print('C:\\users\nitesh')
print(r'C:\\users\nitesh')

C:\users
itesh
C:\\users\nitesh

In [11]:
#Printing in Multiple Lines
print('''
This is an example
for multiple lines
with single quotes.
''')
print('''
This is an example
for multiple lines
with double quotes.
''')

This is an example
for multiple lines
with single quotes.


This is an example
for multiple lines
with double quotes.

In [19]:
#String Concatenation and Repetition
string1='Hi my name is Shivam. '
string2='I am an Intern.'
print(string1+string2)
print(string1*5,'\n',string2*5)

Hi my name is Shivam. I am an Intern.
Hi my name is Shivam. Hi my name is Shivam. Hi my name is Shivam. Hi my name is Shivam. Hi my name is Shivam.
 I am an Intern.I am an Intern.I am an Intern.I am an Intern.I am an Intern.

In [39]:
#String Indexing and Slicing
string='Shivam'
print(len(string))
print(string[0])
print(string[3])
print(string[-1])
print(string[-5])
print(string[0:4])
print(string[:2]+string[2:])

6
S
v
m
h
Shiv
Shivam

In [40]:
#Immutable Property of Strings
name='Shivam'
name[4]='d'

TypeError: ignored

In [41]:
#Length of String
name='Nitesh'
len(name)

6

In [45]:
#Introduction to Lists in Python
name='Shivam'
surname='Sharma'
age=19
height=5.11
list=[name, surname, age, height]
for i in list:
  print(i,type(i))

Shivam <class 'str'>
Sharma <class 'str'>
19 <class 'int'>
5.11 <class 'float'>

In [46]:
#List Indexing and Slicing
print(list[2])
print(list[:2])

19
['Shivam', 'Sharma']

In [50]:
#Mutable Property of Lists
list=[2,4,5,6,7,8,9]
print(list)
list[2]=200
print(list)

[2, 4, 5, 6, 7, 8, 9]
[2, 4, 200, 6, 7, 8, 9]