<a href="https://colab.research.google.com/github/Hackveda/PythonInternsCodeSubmission/blob/main/Shivam%20Sharma/Fundamentals/List_Comprehensions%2C_Tuples%2C_Sets%2C_Dictionaries%2C_Advanced_Looping_Techniques_and_Modules.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
#List Comprehensions

In [5]:
#Code without List Comprehension
squares=[]
for i in range(10):
  square=i**2
  squares.append(square)
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
#Code with List Comprehension
square=[x**2 for x in range(10)]
print(square)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [8]:
#Squares for even numbers
square=[x**2 for x in range(10) if x%2==0]
print(square)

[0, 4, 16, 36, 64]

In [12]:
#Matrix using Nested List Comprehensions
matrix=[
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
[[row[i] for row in matrix] for i in range(3)]

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [13]:
list=[1,2,3,"Ajay"]
del list[2]
list

[1, 2, 'Ajay']

In [ ]:
#Tuples and Sequences

In [15]:
mytuple=("Shivam","Deependra","Pratyush","Shivam")
mytuple

('Shivam', 'Deependra', 'Pratyush', 'Shivam')

In [19]:
mytuple[1]="Sharma"
del mytuple [2]

TypeError: ignored

In [26]:
#Tuple Suppport multiple item assignment
name,surname,height,age=("Shivam","Sharma",5,20)
print("Name:",name," Surname:",surname," Height:",height," Age:",age)

Name: Shivam  Surname: Sharma  Height: 5  Age: 20

In [ ]:
#Sets

In [27]:
myset={"Shivam","Deependra","Pratyush","Shivam"}
myset

{'Deependra', 'Pratyush', 'Shivam'}

In [32]:
#Python supports Sets Comprehensions
set={i * 10 for i in range(10) if i%2==0}
set

{0, 20, 40, 60, 80}

In [ ]:
#Dictionaries

In [34]:
mydict={"Name":"Shivam","Age":"20"}
mydict["Name"]="Deependra"
print(mydict)

print("The value of Name key in dictionary is",mydict["Name"])

{'Name': 'Deependra', 'Age': '20'}
The value of Name key in dictionary is Deependra

In [35]:
dict1={"Name":"Shivam","Age":"20"}
#Perform loops on dictionary
for index,value in dict1.items():
  print("Index is",index,"and value is",value)

Index is Name and value is Shivam
Index is Age and value is 20

In [36]:
#Enumerate function helps you return index and value associated to it
list=[10,20,30,40]
for index, value in enumerate(list):
  print(index,value)

0 10
1 20
2 30
3 40

In [37]:
actors=["Salman","Ranbir"]
actresses=["Katrina","Deepika"]
for actor, actresses in zip(actors, actresses):
  print("The opposite actress of",actor,"is",actresses)

The opposite actress of Salman is Katrina
The opposite actress of Ranbir is Deepika

In [38]:
actors=["Salman","Ranbir"]
for actor in reversed(actors):
  print(actor)

Ranbir
Salman

In [ ]:
#Modules

In [46]:
import fibonacci as ff

In [50]:
fibonacci.fib(10)
ff.fib(10)

0 1 1 2 3 5 8
0 1 1 2 3 5 8

In [51]:
dir(fibonacci)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'fib']

In [53]:
import pandas
dir(pandas)

['BooleanDtype',
 'Categorical',
 'CategoricalDtype',
 'CategoricalIndex',
 'DataFrame',
 'DateOffset',
 'DatetimeIndex',
 'DatetimeTZDtype',
 'ExcelFile',
 'ExcelWriter',
 'Flags',
 'Float32Dtype',
 'Float64Dtype',
 'Float64Index',
 'Grouper',
 'HDFStore',
 'Index',
 'IndexSlice',
 'Int16Dtype',
 'Int32Dtype',
 'Int64Dtype',
 'Int64Index',
 'Int8Dtype',
 'Interval',
 'IntervalDtype',
 'IntervalIndex',
 'MultiIndex',
 'NA',
 'NaT',
 'NamedAgg',
 'Period',
 'PeriodDtype',
 'PeriodIndex',
 'RangeIndex',
 'Series',
 'SparseDtype',
 'StringDtype',
 'Timedelta',
 'TimedeltaIndex',
 'Timestamp',
 'UInt16Dtype',
 'UInt32Dtype',
 'UInt64Dtype',
 'UInt64Index',
 'UInt8Dtype',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__docformat__',
 '__file__',
 '__getattr__',
 '__git_version__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_config',
 '_hashtable',
 '_is_numpy_dev',
 '_lib',
 '_libs',
 '_np_version_under1p18',
 '_testing',
 '_tslib',
 '_typing',
 '_version',
 'api',
 'array',
 'arrays',
 'bdate_range',
 'compat',
 'concat',
 'core',
 'crosstab',
 'cut',
 'date_range',
 'describe_option',
 'errors',
 'eval',
 'factorize',
 'get_dummies',
 'get_option',
 'infer_freq',
 'interval_range',
 'io',
 'isna',
 'isnull',
 'json_normalize',
 'lreshape',
 'melt',
 'merge',
 'merge_asof',
 'merge_ordered',
 'notna',
 'notnull',
 'offsets',
 'option_context',
 'options',
 'pandas',
 'period_range',
 'pivot',
 'pivot_table',
 'plotting',
 'qcut',
 'read_clipboard',
 'read_csv',
 'read_excel',
 'read_feather',
 'read_fwf',
 'read_gbq',
 'read_hdf',
 'read_html',
 'read_json',
 'read_orc',
 'read_parquet',
 'read_pickle',
 'read_sas',
 'read_spss',
 'read_sql',
 'read_sql_query',
 'read_sql_table',
 'read_stata',
 'read_table',
 'read_xml',
 'reset_option',
 'set_eng_float_format',
 'set_option',
 'show_versions',
 'test',
 'testing',
 'timedelta_range',
 'to_datetime',
 'to_numeric',
 'to_pickle',
 'to_timedelta',
 'tseries',
 'unique',
 'util',
 'value_counts',
 'wide_to_long']