<a href="https://colab.research.google.com/github/Hackveda/PythonInternsCodeSubmission/blob/main/Shivam%20Sharma/Fundamentals/Python_Input_Output_Formatting%2C_Exception_Handling_and_Classes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Output Formating

In [2]:
print("Hello Shivam", "Sharma")
name="Shivam"
print("My name is", name)

Hello Shivam Sharma
My name is Shivam

In [5]:
name="Shivam"
surname="Sharma"
print_statement = "My name is {name} and surname is {surname}"
print(print_statement)
print_statement = f"My name is {name} and surname is {surname}"
print(print_statement)

My name is {name} and surname is {surname}
My name is Shivam and surname is Sharma

In [12]:
subtotal_amount=10000
print("Subtotoal amount is: {:,}".format(subtotal_amount))

Subtotoal amount is: 10,000

In [15]:
value=4
print("Binary value is: {:b}".format(value))

Binary value is: 100

In [ ]:
#Reading and Writng Files in Python

In [19]:
with open("shivam.txt") as f:
  myfile=f.read()
print(myfile)

Hello my name is
Shivam

In [20]:
with open("shivam.txt") as f:
  myfile=f.readline()
print(myfile)

Hello my name is

In [25]:
with open("shivam.txt") as f:
  for line in f:
    print(line)

Hello my name is

Shivam

In [31]:
with open("shivam1.txt","w") as f:
  f.write("Hello Ji")

In [ ]:
#Writing JSON Data in Python

In [32]:
import json
data={"Nmae":"Shivam","Age":20}
json.dumps(data)

'{"Nmae": "Shivam", "Age": 20}'

In [34]:
with open("new_json.json","w") as f:
  json.dump(data,f)

In [ ]:
#Exception Handling

In [37]:
try:
  name={"Shivam","Sharma"}
  for name in names:
    print("name")

except Exception as e:
  print("Exception is",e)

Exception is name 'names' is not defined

In [ ]:
#Classes

In [48]:
from myclass import MYCLASS as m

mclass=m()
print(type(mclass))
mclass.name("Shivam")

<class 'myclass.MYCLASS'>
My name is  Shivam