In [13]:
#Multple Variable assignment
a = 1
b = 2

c,d =3,4
print('varialbes- ',a,b,c,d)

varialbes-  1 2 3 4

In [14]:
#Fibonacci Series
while a<20 :
    print(a)
    a,b = b,a+b

1
2
3
5
8
13

In [18]:
#Simple grade application

marks = int(input('Enter your  marks: ')) #getting marks from user

if marks>=91:
    print("Grade A")
elif marks>=81:
    print('Grade B')
elif marks>=71:
    print('Grade C')
else:
    print('You are Fail')

Enter your  marks: 99
Grade A

In [20]:
#Switch implementation of if
#Implement ATM Machine

card =input('Enter your card number: ')

print('Select your option: ')
print('''
1.Banking
2.Mini Statement
3.Fast Withdrawal
4.Pin Change
''')

option = int(input('Enter your option no: '))

if option == 1:
    print('Wlcome to Banking Mode')
elif option == 2:
    print('Print your Statement')
elif option == 3:
    print('Fast Withdrawal...')
elif option == 4:
    print('Pin Change Menu...')
else:
    print('Enter  Correct Number: ')

Enter your card number: 8634517371977
Select your option:

1.Banking
2.Mini Statement
3.Fast Withdrawal
4.Pin Change

Enter your option no: 2
Print your Statement

In [25]:
#Railway Reservation Application
queue = ['Ram','Naresh','Subhash','Riya']

#Making ticket from the Queue list

for name in queue:
    print('Making ticket for',name)
    print('Ticket has been issued for',name,'\n')
    
print('All Ticket has been issued.')

Making ticket for Ram
Ticket has been issued for Ram

Making ticket for Naresh
Ticket has been issued for Naresh

Making ticket for Subhash
Ticket has been issued for Subhash

Making ticket for Riya
Ticket has been issued for Riya

All Ticket has been issued.

In [27]:
#Add all the items in the basket starting from charactere B
items = ['Banana','Berry','Apple','Ice-Berry','Brinjal','Orange','Mango']
basket = []

for i in items:
    if i[0] == 'B':
        print(i)
        basket.append(i)
        
basket

Banana
Berry
Brinjal

['Banana', 'Berry', 'Brinjal']

In [31]:
#Range Function
for i in range(1,20,3):
    print(i)

1
4
7
10
13
16
19

In [32]:
sum(range(1,50,6))

225

In [34]:
#make a list of items between 10 to 50 step by 7

list(range(10,50,7))

[10, 17, 24, 31, 38, 45]

In [41]:
#Break Statment
for i in range(1,10):
    print(i)
    if i == 5:
        break

1
2
3
4
5

In [43]:
#Continue Statment
for i in range(21):
    if (i%2 == 0 ):
        print('This is Even Number',i)
        continue
    print('Odd Nuber',i)

This is Even Number 0
Odd Nuber 1
This is Even Number 2
Odd Nuber 3
This is Even Number 4
Odd Nuber 5
This is Even Number 6
Odd Nuber 7
This is Even Number 8
Odd Nuber 9
This is Even Number 10
Odd Nuber 11
This is Even Number 12
Odd Nuber 13
This is Even Number 14
Odd Nuber 15
This is Even Number 16
Odd Nuber 17
This is Even Number 18
Odd Nuber 19
This is Even Number 20

In [47]:
#Pass Statment
items = ['Apple','Orange','Banana','Berry','Chocklet']

for i in items:
    if len(items) == 5:
        print(i)
    else:
        pass

Apple
Orange
Banana
Berry
Chocklet