In [2]:
#Print values of each inedx of the list

mylist = [11,22,33,44,55,66,77,88,99]
index = 0
for item in mylist:
    print(index, item)
    index = index + 1

0 11
1 22
2 33
3 44
4 55
5 66
6 77
7 88
8 99

In [4]:
#List Typecasting

mylist = [11,22,33,44,55,66,77,88,99]

myinput = input('Enter index number')
print(type(myinput))

myinput = int(myinput)  # Typecasting the myinput as int
print(type(myinput))  

print("The value of index",myinput,'is',mylist[myinput])

Enter index number7
<class 'str'>
<class 'int'>
The value of index 7 is 88

In [10]:
#List Slicing using user input

mylist = [99,88,77,66,55,44,33,22,11]
print(len(mylist))

inclusive = int(input('Enter inclusive index: '))
exclusive = int(input('Enter exclusiive index: '))

mylist[inclusive:exclusive]

9
Enter inclusive index: 4
Enter exclusiive index: 8

[55, 44, 33, 22]

In [12]:
#Concatenation in List

list1 = ['Ram',16,10.5]
list2 = ['Shyam',22,100]

newlist = list1 + list2

print(newlist)

['Ram', 16, 10.5, 'Shyam', 22, 100]

In [14]:
#Cheacking list are mutable
index = 0

for item in newlist:
    print(item)
    index = index + 1

Ram
16
10.5
Shyam
22
100

In [16]:
newlist[2] = 999

In [18]:
index = 0

for item in newlist:
    print(item)
    index = index + 1

Ram
16
999
Shyam
22
100

In [22]:
#List Function Append

newlist.append(12345)

newlist

['Ram', 16, 999, 'Shyam', 22, 100, 12345, 12345]

In [24]:
#Update slice in the list

list1 = [1,2,3,4]
newlist[1:5] = list1

newlist

['Ram', 1, 2, 3, 4, 100, 12345, 12345]

In [25]:
#remove slice from the list

newlist[2:6] = []

newlist

['Ram', 1, 12345, 12345]

In [28]:
#Nested feature in list

list1 = [1,2,3,4,5]
list2 = [6,7,8,9,1]

nest_list = ['hii',list1,list2]

nest_list

['hii', [1, 2, 3, 4, 5], [6, 7, 8, 9, 1]]

In [33]:
#Accessing the value in nested list

nest_list[1][4]

5

In [37]:
#Insert the top of the list
mylist = [11,22,33,44,55,66,77]

mylist.insert(0,10000)

mylist

[10000, 11, 22, 33, 44, 55, 66, 77]

In [39]:
#Insert the end of the list
mylist = [11,22,33,44,55,66,77]

mylist.append(9999)

mylist

[11, 22, 33, 44, 55, 66, 77, 9999]

In [41]:
#Insert the middil of the list

mylist.insert(3,9999)

mylist

[11, 22, 33, 9999, 44, 55, 66, 77, 9999]