In [1]:
# Creating Sets
# Sets does not caontain dublicate values

myset = {'Ram','Lakhman','Bharat','Ram'}
myset

{'Bharat', 'Lakhman', 'Ram'}

In [5]:
# Sets Comprehension

newset = {i*10 for i in range(20) if (i%2) == 0}
newset

{0, 20, 40, 60, 80, 100, 120, 140, 160, 180}

In [11]:
# Creating Dictionaries

mydict = {'name':'Ram', 'Age':25}
mydict['name'] = 'Shyam'
del mydict['Age']
mydict

print('The value of name key is: ',mydict['name'])

The value of name key is:  Shyam

In [12]:
# Loops on Dictionaries

mydict1 = {'name':'Ram','age':25,'DOB':2000}

for index, value in mydict1.items():
    print('Index is',index,'and value is',value)

Index is name and value is Ram
Index is age and value is 25
Index is DOB and value is 2000

In [13]:
#Enmerate Ffunction use

mylist = [11,22,33,44,55,66]

for index, value in enumerate(mylist):
    print(index,value)

0 11
1 22
2 33
3 44
4 55
5 66

In [16]:
# Zip Function use

actors = ['prabhas','ntr','arjun']
actoresses = ['kajal','samantha','sai']

for actor, actoress in zip(actors,actoresses):
    print('The opposit actor of',actoress,'is',actor)

The opposit actor of kajal is prabhas
The opposit actor of samantha is ntr
The opposit actor of sai is arjun