<a href="https://colab.research.google.com/github/Hackveda/PythonInternsCodeSubmission/blob/main/Thasneemkp/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#lists are compound data types
#syntax of creating lists []
roll_no=[1,2,3,4,5] #homogeneous type
roll_no
print(type(roll_no))

<class 'list'>

In [4]:
#multple information about a person
name='thasneem'
age=33
height=5.9
print(name,type(name),age,type(age),height,type(height))

#group the above information in a list
person_info=[name,age,height]
person_info

thasneem <class 'str'> 33 <class 'int'> 5.9 <class 'float'>

['thasneem', 33, 5.9]

In [5]:
#print values at each index of list
roll_no=[1,4,9,16,25]
index=0
for item in roll_no:
    print(index,item)
    index =index + 1

0 1
1 4
2 9
3 16
4 25

In [7]:
value=int(input("enter input value:"))
print(type(value))

enter input value:12
<class 'int'>

In [10]:
index_no=int(input("enter index no:"))
print ("the value at index",index_no,"is",roll_no[index_no])

enter index no:3
the value at index 3 is 16

In [12]:
#concatenation in lists
list1=["thasneem",33,5.9]
list2=["zia",7,3.2]
conc_result=list1 + list2
conc_result

['thasneem', 33, 5.9, 'zia', 7, 3.2]