<a href="https://colab.research.google.com/github/Hackveda/PythonInternsCodeSubmission/blob/main/Praneeth/Functions/Functions_and_Aruguments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Defining the function
def functionname():
  "Documentation string"

In [3]:
# Define a function to add two values
def add(a,b):
  "Add two numbers and returns add value"
  return a+b

In [4]:
print("add two numbers 1,3",add(1,3))

add two numbers 1,3 4

In [8]:
def add1(a,b):
  "add two numbers and print,but no return"
  print(a+b)

In [11]:
ans1=add(1,3)
ans2=add1(1,3)

4

In [12]:
print(ans1)

4

In [13]:
def newAdmission(studentname,studentClass=10,studentGroup='Blue'):
  print(f'student added {studentname} in class {studentClass}, and in group {studentGroup}')

In [15]:
newAdmission("don")

student added don in class 10, and in group Blue

In [16]:
newAdmission("surya",studentClass=11,studentGroup="red")

student added surya in class 11, and in group red

In [23]:
#Defining the aurguments list

#Create an appliction to make a team and player
def ipl_team(teamName,*players):
  player_list=[]
  for player in players:
    player_list.append(player)
  print("IPL team:",teamName,"Player List:",player_list)

In [24]:
ipl_team("RCB","Navdeep","Virat","jameson","maxwell")

IPL team: RCB Player List: ['Navdeep', 'Virat', 'jameson', 'maxwell']

In [25]:
# Navdeep Saini = Bowler
def ipl_player(**players):
  for player in players:
    print("Player Name:",player,"Role: ",players[player])

In [26]:
ipl_player(virat='Batsmen',chahal='bowler',maxwell='All-rounder')

Player Name: virat Role:  Batsmen
Player Name: chahal Role:  bowler
Player Name: maxwell Role:  All-rounder