<a href="https://colab.research.google.com/github/Hackveda/PythonInternsCodeSubmission/blob/main/Karthik/control%20flow/Contro_Flow_Statements.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=0
b=1
c,d=2,3 #Multiple variables assignment
print("Variable values",a,b,c,d)

Variable values 0 1 2 3

In [ ]:
while a<10:
  print(a)
  a,b=b,a+b

0
1
1
2
3
5
8

In [ ]:
# Simple Grade System Application
# 91-100=A,81-90=B,71-80=C,Below or equal 70=Fail
# Take input from the user
marks=int(input("Enter your marks: "))
#Conditional Flow Implementation Using if
if marks>=91:
  print("Grade A")
elif marks>=81:
  print("Grade B")
elif marks>=71:
  print("Grade c")
else:
  print("Failed Score")

Enter your marks: 78
Grade c

In [ ]:
# Switch implementation of If
# ATM Machine Application
card=input("Enter Card: ")
print("""
Select option 

1. Banking
2. Bank Statement
3. PIN Change
4. Fast Withdrawal
""")
option=int(input("Enter option no:"))

# Switch Implementation
if option==1:
  print("Welcome to Banking mode")
elif option==2:
  print("Print Bank Statement")
elif option==3:
  print("PIN Change Menu")
elif option==4:
  print("Fast Withdrawl")
else:
  print("please check the correct option")

Enter Card: 12436554765

Select option

1. Banking
2. Bank Statement
3. PIN Change
4. Fast Withdrawal

Enter option no:4
Fast Withdrawl

In [ ]:
# For Statements in Python
# Railway Reservation Application

queue=["Virat","Dhoni","Rohit","Rahul"]
# Start making tickets for this queue using FOR Statement
for traveller_name in queue:
  print("Make Ticket for",traveller_name)
  print("Tickets issued for",traveller_name)
print("All travellers ticket made")

Make Ticket for Virat
Tickets issued for Virat
Make Ticket for Dhoni
Tickets issued for Dhoni
Make Ticket for Rohit
Tickets issued for Rohit
Make Ticket for Rahul
Tickets issued for Rahul
All travellers ticket made

In [ ]:
# Add all the items in a basket starting from character B
items=["Banana","Apple","Brinjal","Bhindi","Burger","Coffee","Butter"]
basket=[]
for i in items:
  if i[0]=="B":
    basket.append(i)
basket

['Banana', 'Brinjal', 'Bhindi', 'Burger', 'Butter']

In [ ]:
# Range Function
# for(int i=0;i<20;i++){}

for i in range(0,20,2):
  print(i)

0
2
4
6
8
10
12
14
16
18

In [ ]:
sum(range(10,20,2))

70

In [ ]:
# Make a list of items between 10,50 step by 7
list(range(10,50,7))

[10, 17, 24, 31, 38, 45]

In [ ]:
for i in range(5):
  print(i)
  if i ==3:
    break

0
1
2
3

In [ ]:
for num in range(2,10):
  if num%2==0:
    print("Even Number",num)
    continue  # resume back to loop
  print("Found and odd number",num)

Even Number 2
Found and odd number 3
Even Number 4
Found and odd number 5
Even Number 6
Found and odd number 7
Even Number 8
Found and odd number 9

In [ ]:
items=["abcd","defg","ab","ijkl","hem"]
for item in items:
  if len(item)==4:
    print(item)
  else:
    pass

abcd
defg
ijkl