<a href="https://colab.research.google.com/github/Hackveda/PythonInternsCodeSubmission/blob/main/Karthik/Functions_and_Arguments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Defining the function
def functionName(paramaters):
  "Document String for the function"
# Calling the function
param=1 # Sample parameter with example
functionName(param)

In [ ]:
# Define a function to add two values
def add(a,b):
  "Add two numbers and returns added values"
  return a+b

In [ ]:
add(10,30)

40

In [ ]:
# Method 1: Execute the function but doesnot return a value
def add1(a,b):
  "Add two values and print,But no return value"
  print(a+b)

In [ ]:
add1(10,20)

30

In [ ]:
ans1=add(10,20) # Return int value
ans2=add1(10,20) # Return None

30

In [ ]:
print(ans1)

30

In [ ]:
print(ans2)

None

In [ ]:
# When you have arguments without a defined count

# make a simple application to add a new admission
# Groups: Red,Green,Blue and White
def newAdmission(studentName,studentClass=10,studentGroup="Red"):
  "Demo functionto add a student in a class"
  print("Student added",studentName,studentClass,studentGroup)

In [ ]:
# Call the function in first way- No paramater
newAdmission()

TypeError: ignored

In [ ]:
# Give the position argument
newAdmission("Tata")

Student added Tata 10 Red

In [ ]:
newAdmission("Ram",studentGroup="Blue")

Student added Ram 10 Blue

In [ ]:
newAdmission(studentClass=11,studentName="Sai")

Student added Sai 11 Red

In [ ]:
# defing the arguments list

# Create an application to take a team and players
def ipl_team(teamName,*players):
  "Create a new IPL team"
  player_list=[]
  for player in players:
    player_list.append(player)
  print("IPL team",teamName,"Player List:",player_list)

In [ ]:
ipl_team("RCB","Virat","Finn","ABD","Saini")

IPL team RCB Player List: ['Virat', 'Finn', 'ABD']

In [ ]:
# "Saini"="Bowler"
def ipl_players(**players):
  for player in players:
    print("Player Name:",player,"Role",players[player])

In [ ]:
ipl_players(Saini="Bowler",
            virat="Batsman",
            Finn="All-rounder")

Player Name: Saini Role Bowler
Player Name: virat Role Batsman
Player Name: Finn Role All-rounder