<a href="https://colab.research.google.com/github/Hackveda/PythonInternsCodeSubmission/blob/main/Karthik/I_O_Formatting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name ='karthik'
surname = 'peta'
print(f'my name is {name} and my surname is {surname}')

my name is karthik and my surname is peta

In [ ]:
subtotal_amount = 10000
user = "karthik"
"Subtotal for user is {} is {:,}".format(user,subtotal_amount)

'Subtotal for user is karthik is 10,000'

In [ ]:
"Subtotal for user is {} is {:_}".format(user,subtotal_amount)

'Subtotal for user is karthik is 10_000'

In [ ]:
l_value=10
"Binary value of {} is {:b}".format(l_value,l_value)

'Binary value of 10 is 1010'

In [ ]:
val = 43
"Octal value of {} is {:o}".format(val,val)

'Octal value of 43 is 53'

In [ ]:
"Hexa decimal value of {} is {:x}".format(val,val)

'Hexa decimal value of 43 is 2b'

In [ ]:
# Writing JSON data in Python
import json
data = {"Name":"Namaiva", "Age": 43}
json.dumps(data)

'{"Name": "Namaiva", "Age": 43}'

In [ ]:
with open("newjson.json","w") as f:
  json.dump(data,f)

In [ ]:
meta = {"wakuwaku":"anya","age": 15}
json.dumps(meta)

'{"wakuwaku": "anya", "age": 15}'

In [ ]:
with open("newjson.json","w") as r:
  json.dump(meta,r)

In [ ]:
with open("newjson.json","r") as k:
  y=k.readline()
print(y)

{"wakuwaku": "anya", "age": 15}