<a href="https://colab.research.google.com/github/Hackveda/PythonInternsCodeSubmission/blob/main/Praneeth/I_O_formatting/I_O_Formatting_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
name ='panni'
surname = 'raj'
print(f'my name is {name} and my surname is {surname}')

my name is panni and my surname is raj

In [ ]:
subtotal_amount = 10000
user = "panni"
"Subtotal for user is {} is {:,}".format(user,subtotal_amount)

'Subtotal for user is panni is 10,000'

In [ ]:
"Subtotal for user is {} is {:_}".format(user,subtotal_amount)

'Subtotal for user is panni is 10_000'

In [ ]:
l_value=10
"Binary value of {} is {:b}".format(l_value,l_value)

'Binary value of 10 is 1010'

In [ ]:
val = 43
"Octal value of {} is {:o}".format(val,val)

'Octal value of 43 is 53'

In [ ]:
"Hexa decimal value of {} is {:x}".format(val,val)

'Hexa decimal value of 43 is 2b'

In [ ]:
#reading and writing files using python
with open("panni.txt") as f:
  myfile=f.read()
print(myfile)

hli all
this is me

In [ ]:
with open("naruto.txt") as f:
  hinata = f.read()
print(hinata)

dattebayoo!!
naruto-kun

In [ ]:
with open("naruto.txt") as f:
  myline = f.readline()
print(myline)

dattebayoo!!

In [ ]:
with open("naruto.txt") as f:
  for line in f:
    print(line)

dattebayoo!!

naruto-kun

In [ ]:
with open("panni.txt") as f:
  for line in f:
    print(line)

hli all

this is me

In [ ]:
with open("panni1.txt","w") as f:
  k = f.write("ohio! Guzaimas")

In [ ]:
with open("panni2.txt","w") as p:
  p.write("Konichiwaa!")

In [ ]:
# Writing JSON data in Python
import json
data = {"Name":"Namaiva", "Age": 43}
json.dumps(data)

'{"Name": "Namaiva", "Age": 43}'

In [ ]:
with open("newjson.json","w") as f:
  json.dump(data,f)

In [ ]:
meta = {"wakuwaku":"anya","age": 15}
json.dumps(meta)

'{"wakuwaku": "anya", "age": 15}'

In [ ]:
with open("newjson.json","w") as r:
  json.dump(meta,r)

In [ ]:
with open("newjson.json","r") as k:
  y=k.readline()
print(y)

{"wakuwaku": "anya", "age": 15}

In [ ]:
#Classes
from myclass import Myclass
m = Myclass
m.Myname("komi")

your name is komi

In [ ]:
m.Myname("Dummy")

your name is Dummy